@model FinancasApp.presentation.Models.ContasEdicaoViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4>Edição de contas</h4>
            <p>Altere os dados de contas a receber ou pagar no seu histórico financeiro.</p>

            <div class="mt-2">

                @using (Html.BeginForm())
                {
                    <div>
                        @Html.HiddenFor(model => model.Id)
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label>Nome da conta:</label>
                            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.Nome)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Data da conta:</label>
                            @Html.TextBoxFor(model => model.Data, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.Data)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Valor da conta:</label>
                            @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.Valor)
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label>Observações da conta:</label>
                            @Html.TextAreaFor(model => model.Observacoes, new { @class = "form-control" })
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.Observacoes)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Tipo da conta:</label>
                            <div>
                                @Html.RadioButtonFor(model => model.Tipo, 1) <span>Conta a Receber</span>
                            </div>
                            <div>
                                @Html.RadioButtonFor(model => model.Tipo, 2) <span>Conta a Pagar</span>
                            </div>
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.Tipo)
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>Categoria da conta:</label>
                            @Html.DropDownListFor(model => model.CategoriaId, Model.ListagemCategorias,
                        "Escolha um opção", new { @class = "form-select" })
                            <div class="text-danger">
                                @Html.ValidationMessageFor(model => model.CategoriaId)
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary"
                                   value="Salvar Alterações" />
                            <a href="/Contas/Consulta" class="btn btn-light">
                                Ir para a consulta
                            </a>
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
</div>


